#content {
  position:absolute;
  left:200px;
  top:30px;
  padding-left: 10px;
  margin-right: 0;
 }
.grid {
  width: 700px;
  height: 700px;
 }
.ui-grid-header-cell{
height: 30px
}
.recordSelector {
  background-color: lightgrey;
  width: 16px;
 }
