<link rel="styleSheet" href="components/angular-ui-grid/ui-grid.min.css"/>
<!--script src="components/jquery/dist/jquery.min.js"></script>
<script src="components/angular/angular.js"></script-->
<!--script src="components/angular-ui-grid/ui-grid.min.js"></script>
<script src="js/tableView.js"></script-->
<title>_tableView</title>
<div ng-app="sb.tableView" ng-controller="tableViewCtr">
  <input type=button value="get selected rows" ng-click='getSelectedRows()'></input>
  <input type=button value="delete selected rows" ng-click='deleteRows()'></input>
  <input type=button value="createFormFromTable" ng-click='createFormFromTable()'></input>
  <h3>{{tableName}}</h3> {{msg}}
  <div ui-grid="gridOptions" class="grid" ng-kepress="onKeyPress()" ui-grid-edit ui-grid-row-edit ui-grid-resize-columns ui-grid-cellnav ui-grid-selection></div>
 </div>
</html>
